@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    background-image: url("../img/index-background.jpeg");
    background-position: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:beige;
}

div {
    border-style: solid;
    border-color: beige;
    border-width: thick;
    margin: 50px;
    padding: 50px;
}

p {
    color: aliceblue;
    border: coral solid thin;
    font-family: montserratthin;
}

@keyframes example {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}