body {
    background-color: brown;
    font-family: "Gill Sans", sans-serif;

}

h1, p, li {
    color: #f0f8ff;
}

li {
    font-size: 3vh;
}

li a:visited, a {
    color:yellow;
}

a {
    text-decoration: none;
}

a:hover {
    color:aqua;
}

img {
    max-width: 500px;
}

ul {
    list-style-type: none;
    list-style-image: url();
}

@keyframes color-changer {
    0% {
        background-color: #4C1F50;
    }
    30% {
        background-color: aqua;
    }
    50% {
        background-color: bisque;
    }
    100% {
        background-color: #4C1F50;
    }
}

.anyname {
    animation-name: color-changer;
    animation-duration: 5s;
    animation-iteration-count: 2;
}